<%=  display_header(@note)%> 
<%= render partial: 'layouts/errors', locals: {object: @note}  %>


<%= form_for(@note) do |f| %>
    <% if params[:strain_id] %>
        <%= f.hidden_field :strain_id %>
    <% else %>
        <div>
            <% f.label :strain_id, "Select Strain" %>
            <% f.collection_select :strain_id, Strain.alpha, :id, :name, include_blank: true %>
        </div>
    <% end %>
    <%
=begin%>
 <div>
        <% f.label :batch_number_id, "Enter Batch Number" %>
        <%= f.text_field :batch_number_id, BatchNumber.alpha, :id, :batch_number, include_blank: true %>  
    </div>
    <br>
    <div>
        <% f.label :metric_tag_id, "Enter Metric Tag" %>
        <%= f.text_field :metric_tag %> 
    </div>
    <br>
    <div>
        <% f.label :mold_weight_id, "Enter Mold Weight" %>
        <%= f.text_field :mold_weight %> 
    </div> 
<%
=end%>
    <br>
    <div>
        <%= f.label :description %>
        <%= f.text_area :description, size: "25x3" %>  
    </div>
    <br>
    <div>
        <%= f.file_field :images, multible: true %>
    </div>
    <br>

    <%= f.submit %>


<% end %>