<%= form_for(@note) do |f| %>
    <% if params[:strain_id] %>
        <%= f.hidden_field :strain_id %>
    <% else %>
        <div>
            <% f.label :strain_id, "Select Strain" %>
            <% f.collection_select :strain_id, Strain.alpha, :id, :name, include_blank: true %>
        </div>
    <% end %>
    <div>
        <% f.label :strain_id, "Enter Batch Number" %>
        <% f.collection_select :strain_id, Strain.alpha, :id, :batch_number, include_blank: true %>  
    </div>
    <br>
    <div>
        <% f.label :strain_id, "Enter Metric Tag" %>
        <% f.collection_select :strain_id, Strain.alpha, :id, :metric_tag, include_blank: true %> 
    </div>
    <br>
    <div>
        <% f.label :strain_id, "Enter Mold Weight" %>
        <% f.collection_select :strain_id, Strain.alpha, :id, :mold_weight, include_blank: true %> 
    </div>
    <br>
    <div>
        <%= f.label :description %>
        <%= f.text_area :description, size: "25x10" %>  
    </div>
    <br>

    <%= f.submit %>


<% end %>