<%= render partial: 'layouts/errors', locals: {object: @strain}  %>
<%= form_for(@strain) do |f|%> 
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    
    <div>
      <%= f.label :batch_number %>
      <%= f.text_field :batch_number %> 
    </div>

    <div>
    <%= f.label :metric_tag %>
    <%= f.text_field :metric_tag %> 
    </div>

    <p> Select a Dry Room that already exists: </p>
    <div>
      <%= f.collection_select :dry_room_id, DryRoom.all, :id, :room_number, include_blank: 'Select One'%>
  
    </div>
  
    <p> Or create a new dry_room: </p>
    <div>
      <%= f.fields_for :dry_room do |d| %>
        <%= d.label :room_number %>
        <%= d.text_field :room_number %>
      <% end %> 
    </div> 
    <br>
    
    <%= f.submit %>
  <% end %>